.login{
    width: 360px;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin: 0 auto; //Căn giữa ngoài element
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 4px;

    &__avatar{
        padding-bottom: 10px;
        width: 30%;
        margin: 0 auto;
    }

    &__title{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
        padding-bottom: 10px;
    }

    &__form{

        &__group{
            outline: none;
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 4px;
        }

        &__check{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;

            .remember{
                display: flex;
                align-items: center;
                &-input{
                    margin-right: 6px;
                    font-size: 3rem;
                    width: 14px;
                    height: 14px;
                }
                &-title{
                    font-weight: 300;
                    font-size: 1.5rem;
                }
            }

            .forgot{
                text-decoration: none;
                font-size: 1.5rem;
            }
        }

        &-submit{
            width: 100%;
            padding: 8px 0;
            font-size: 1.6rem;
            font-weight: 600;
            background-color: var(--extra-color);
            border: none;
            color: #fff;
            cursor: pointer;
            margin-bottom: 14px;
            border-radius: 4px;

            &:hover{
                opacity: 0.8;
            }
        }
    }
    &__footer{
        display: flex;
        align-items: center;
        
        span{
            margin-right: 4px;
            font-size: 1.4rem;
        }

        &-link{
            text-decoration: none;
            font-size: 1.4rem;
        }

    }
}