.order-list{
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 20px;

    .order-table{
        margin-bottom: 30px;
        
    }
    
    .order-action{
        display: flex;
    }
}