.card{
    width: 100%;
    border: 1px solid #eee;
    --padding: 8px;


    &__header{
        padding: var(--padding);
        font-weight: 900;
        font-size: 1.7rem;
        color: #fff;
        background-color: var(--primary-color);
    }

    &__body{
        padding: var(--padding);
        & tr:hover{
            background-color: #eee;
            cursor: pointer;
        }

        & th,td{
            text-align: justify;
            width: auto;
        }

        & th, td:first-child{
            //text-align: center;
        }
    }

    &__footer{
        padding: var(--padding);
    }
}

 //table
 .item__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 14px;

    .item__btn-add{
        background-color: var(--extra-color);
        outline: none;
        border: none;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 4px;
    }
}

.item__content{
    border: 1px solid #ccc;

    .item__title{
        color: #fff;
        padding: 10px;
        background-image: linear-gradient(#333, #000);
    }

    .item__body{
        padding: 10px;

        .item__control{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .item__show-record-page{
                select{
                    height: 30px;
                    width: 50px;
                }
            }
    
            .item__search{
    
                &-input{
                    width: 50%;
                    outline: none;
                    padding-left: 8px;
                    height: 30px;
                    width: 300px;
                    margin-right: 4px;
                }
    
                &-select{
                    height: 30px;
                    margin-right: 4px;
                }
            }
    
            
        }

        .item__list{
            thead{
                text-align: left;
                height: 40px;
                
                th{
                    padding-left: 10px;
                }
                & th:nth-child(2){
                    width: 400px;
                }
            }
           
            tbody{
                text-align: left;
                
                tr td{
                 padding-left: 10px;
                }
            }
        }
    }

    .item__footer{
        display: flex;
        justify-content: space-between;
        margin-top: 6px;
        
        .item__show-record{
            font-size: 1.5rem;
        }
    }
}

//Button
.btn{
    padding: 8px;
    background-color: transparent;
    border-radius: 5px;
}

.btn-submit{
    color: #fff;
    background-color: var(--primary-color);
}

.btn-reset{
    background-color: #ccc;
    color: #fff;
}

//Form
.item__group{
   //margin-bottom: 6px;
    .item__label{
        display: block;
        font-weight: 500;
    }
    .item__control{
        width: 100%;
        padding: 6px;
        font-size: 1.5rem;
        margin: 6px 0;
        outline: none;
        border-radius: 4px;
        border: 1px solid #bbb;
    }
    .item__error{
        font-size: 1.4rem;
        color: red;
        display: none;
    }
}

.item__group-other{
    margin-bottom: 6px;
}

.item__label-other{
    margin-right: 6px;
}

.item__checkbox{
    width: 16px;
    height: 16px;
}
