.cart{

    .cart__empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cart__title{
            font-size: 2.2rem;
        }

        .cart__home{
            font-size: 1.4rem;
            font-weight: 300;
            margin: 18px 0;
        }

        .cart__btn{
            padding: 10px 24px;
            background-color: #fff;
            font-weight: 500;
            color: var(--btn-color);
            border: 1px solid var(--btn-color);

            &:hover{
                background-color: var(--btn-color);
                color: #fff;
            }
        }

        .cart__img{
            width: 300px;
            background-color: #fff;
            margin-bottom: 22px;
            margin-top: 80px;
        }
    }
    &__checkout{
        margin-left: 50px;
        .cart__info{
            width: 100%;
            background-color: #f7f7f7;
            padding: 14px;

            &__title{

                & p{
                    font-size: 1.5rem;
                    padding-bottom: 16px;

                    span{
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: var(--price-color);
                    }
                }
    
                &-price{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 16px;
    
                    & span:nth-child(1){
                        text-transform: uppercase;
                    }
    
                    & span:nth-child(2){
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: var(--price-color);

                        sup{
                            text-decoration: underline;
                        }
                    }
                }
            }
    
            &__btn{
                display: flex;
                flex-direction: column;
                gap: 14px;
    
                button{
                    width: 100%;
                    padding: 10px;
                    background-color: var(--btn-color);
                    border: none;
                    outline: none;
                    color: #fff;
                    cursor: pointer;
                    font-weight: 500;
    
                    &:hover{
                        filter: brightness(1.2);
                    }
                }
            }
    
           
    
        }
    }

   
}

@media screen and (max-width: 767px) {
    .cart__checkout{
        margin-left: 0px;
    }
}