.cart{
    &__list{
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
        table-layout: fixed;

        & thead {
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;
            
            & th{
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                padding: 18px 0;
            }
        }
    }

    &__checkout{
        margin-left: 50px;
        .cart__info{
            width: 100%;
            box-shadow: 0 0 20px rgb(123 122 101 / 40%);
            padding: 14px;

            &__title{

                & p{
                    font-size: 1.5rem;
                    padding-bottom: 16px;

                    span{
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: var(--extra-color);
                    }
                }
    
                &-price{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 16px;
    
                    & span:nth-child(1){
    
                    }
    
                    & span:nth-child(2){
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: var(--extra-color);
                    }
                }
            }
    
            &__btn{
                display: flex;
                flex-direction: column;
                gap: 14px;
    
                button{
                    width: 100%;
                    padding: 10px;
                    background-color: var(--extra-color);
                    border: none;
                    outline: none;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    font-weight: 700;
                    cursor: pointer;
    
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
    
           
    
        }
    }

   
}