.catalog__title{
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 400;
}

.catalog{
    border-right: 1px solid #ccc;

 

    &__list{
        padding-right: 8px;
        &-title{
            font-weight: 300;
            margin: 20px 0;
            text-transform: uppercase;
        }

        .catalog__list-item{
            line-height: 3rem;
            .catalog__list-check{
                margin-right: 10px;
            }

            .catalog__list-name{
                font-size: 1.5rem;
                font-weight: 300;
            }
        }

        &-body{
            &-search{
                display: flex;
                justify-content: space-between;
                input{
                    width: 40%;
                    outline: none;
                    padding: 5px;
                    margin-bottom: 16px;
                }
                span{
                    position: relative;
                    top: 6px;
                }
            }
            button{
                width: 100%;
                padding: 8px 0;
                background-color: var(--extra-color);
                border: none;
                color: #fff;
                font-size: 1.4rem;
                cursor: pointer;
            }
        }
    }
}


.list__product-catalog{
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
}
.catalog__filter{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 8px;
    .catalog__list{
        list-style: none;
        display: flex;
        gap: 20px;
        .catalog__item{
            .catalog__link{
                text-decoration: none;
                color: #000;
                opacity: 0.5;
                font-weight: 300;
                font-size: 1.5rem;
                &:hover{
                    color: var(--primary-color);
                    opacity: 1;
                }
            }
        }
    }

    span{
        font-size: 1.4rem;
    }
    
    & button:nth-child(2){
        height: 34px;
        width: 90px;
        font-size: 1.5rem;
        //background-color: #fff;
        border: none;
        outline: none;
        color: #fff;
        background-color: var(--extra-color);
    }

    & button:nth-child(3){
        height: 34px;
        width: 90px;
        font-size: 1.5rem;
        background-color: #fff;
        border: none;
        outline: none;
    }

    & button:nth-child(4){
        height: 34px;
        width: 90px;
        font-size: 1.5rem;
        background-color: #fff;
        border: none;
        outline: none;
    }

    &-select{
        height: 34px;
        outline: none;
        border: 1px solid var(--border-color);
        padding: 0 12px;

        option{
            display: block;
           font-size: 1.4rem;
           padding: 10px 0;
        }
    }
}


.catalog__pagination{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    &-item--active{
        background-color: var(--extra-color);
        color: #fff !important;
        
    }

    &-item{
        margin: 0 12px;
        cursor: pointer;
           text-decoration: none; 
           font-size: 2rem;
           border-radius: 2px;
           display: block;
           height: 30px;
           text-align: center;
           line-height: 30px;
           min-width: 40px;
           color: #939393;
    }
}