@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root{
    --primary-color: #33cc99;
    --extra-color:  #088178;
    --border-color: #cce7d0;
    --price-color: #ed3324;
    --btn-color: #199794;

    --text-color: #333333;
    --body-background: #F9F9FB;
    --text-secondary-color: #8F8F8F;
    --primary-color: #0f8280;
    --secondary-color: #fbd947;
    --price-color: #ed3324;
    --header-background: #065f5c;
    --header-color: #ffffff;
    --subheader-background: #ffffff;
    --subheader-color: #5d6368;
    --label-background: #199794;
    --label-color: #ffffff;
    --footer-bg: #ffffff;
    --footer-color: #333333;
    --show-loadmore: none!important;
    --order-loadmore: -1!important;
    --sale-pop-color: #065f5d;
    --buynow-bg: #199794;
    --buynow-text-color: #ffffff;
    --cta-color: #199794;
    --coupon-title-color: #f6000a;
    --coupon-button-color: #f6000a;
    --col-menu: 1;
    --border-color: #f1f1f1;
    --link-color: #2F80ED;
    --coupon-code-background: #e60912;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.product__list{
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.section-m1{
    margin: 40px 0;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.mtb-20{
    margin: 20px 0;
}

.form-control{
    border: none;
    outline: none;
    padding: 10px;
}

.form-group{
    outline: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td,th{
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 1.4rem;
}

tbody{
    text-align: center;
}

button{
    padding: 8px;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit{
    margin-right: 2px;
    background-color: #33cc99;
    color: #fff;
}

.btn-delete{
    background-color: rgb(209, 10, 10);
    color: #fff;
}

.btn-cancel{
    background-color: #ddd;
    display: inline;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

select{
    outline: none;
}


.grid{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*Admin page*/
.wrapper{
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    overflow: hidden;

    .form__title{
        background-color: #eef7fe;
        color: #000;
        padding: 8px 12px;
    }

    .form__body{
        padding: 8px;
    }

    .form__footer{
        // display: flex;
        // align-items: center;
        background-color: #f7f7f7;
        padding: 8px 12px;
    }

    .form__control{
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        label{
            margin-right: 8px;
            width: 25%;
            display: flex;
            justify-content: flex-end;
        }

        .form__group{
            outline: none;
            height: 28px;
            padding: 0 8px;
            width: 50%;
        }

        .form__checkbox{
            width: 20px;
            height: 20px;
        }

        .form__input-text{
           height: 28px;
           outline: none;
        }

        textarea{
            height: 100px;
            width: 50%;
        }
    }
}

.handle-error{
    color: red;
    font-size: 1.3rem;
    margin-bottom: 6px;
    margin-top: -6px;
}

//Layout Column
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
//Chia thành 12 cột
.col-1{
    padding-left: 5px;
    padding-right: 5px;
    width: 8.3334%;
}

.col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.col-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.col-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3334%;
}

.col-5{
    padding-left: 5px;
    padding-right: 5px;
    width: 41.6667%;
}

.col-6{
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.col-7{
    padding-left: 5px;
    padding-right: 5px;
    width: 58.3334%;
}

.col-8{
    padding-left: 5px;
    padding-right: 5px;
    width: 66.6667%;
}

.col-9{
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}

.col-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.col-11{
    padding-left: 5px;
    padding-right: 5px;
    width: 91.6667%;
}

.col-12{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.col-12-5{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

@media only screen and (max-width: 767px){
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
    }
    //Chia thành 12 cột
    .col-c-1{
        padding-left: 5px;
        padding-right: 5px;
        width: 8.3334%;
    }
    
    .col-c-2{
        padding-left: 5px;
        padding-right: 5px;
        width: 16.6667%;
    }
    
    .col-c-3{
        padding-left: 5px;
        padding-right: 5px;
        width: 25%;
    }
    
    .col-c-4{
        padding-left: 5px;
        padding-right: 5px;
        width: 33.3334%;
    }
    
    .col-c-5{
        padding-left: 5px;
        padding-right: 5px;
        width: 41.6667%;
    }
    
    .col-c-6{
        padding-left: 5px;
        padding-right: 5px;
        width: 50%;
    }
    
    .col-c-7{
        padding-left: 5px;
        padding-right: 5px;
        width: 58.3334%;
    }
    
    .col-c-8{
        padding-left: 5px;
        padding-right: 5px;
        width: 66.6667%;
    }
    
    .col-c-9{
        padding-left: 5px;
        padding-right: 5px;
        width: 75%;
    }
    
    .col-c-10{
        padding-left: 5px;
        padding-right: 5px;
        width: 83.3334%;
    }
    
    .col-c-11{
        padding-left: 5px;
        padding-right: 5px;
        width: 91.6667%;
    }
    
    .col-c-12{
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
    }
    
    .col-c-12-5{
        padding-left: 5px;
        padding-right: 5px;
        width: 25%;
    }
}
//end Layout Column