.subheader {
    background-color: #110e0b;

    .subheader__group{
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .subheader__item{
            list-style: none;
            
            &-link{
                color:#fff;
                font-weight: 300;
                text-transform: uppercase;
                
                &:hover {
                    color: #ffe500;
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .subheader {
        display: none;
    }
}