.hero-slider{
    background-color: #110e0b;
    .swiper-container{
            .hero-slider__img{
                height: 368px;
                object-fit: cover;
            }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .hero-slider__img{
        height: 300px !important;
        object-fit: cover !important;
    }
}

@media (max-width: 768px){
    .hero-slider__img{
        object-fit: fill !important;
        height: 140px !important;
    }
}
