.hero-slider{
    height: 360px;
    .swiper-container{
         height: 100%;

            .hero-slider__img{
               object-fit: cover;
               height: 100%;
               width: 100%;
            }
    }
}

@media (max-width: 1023px){
    .hero-slider__img{
        width: unset;
        object-fit: cover;
    }
}

