.slider{
    height: 400px;

    .scroll{
        &::-webkit-scrollbar{
            width: 3px;
        }
    
        &::-webkit-scrollbar-thumb{
            background-color: var(--primary-color);
            outline: 1px solid var(--primary-color);
        }
    }

    .slider__category{
        height: calc(100% - 20%);
        overflow-y: scroll;
        list-style: none;
        border: 1px solid #f1f1f1;

        .slider__category-item{
            padding: 8px 12px;
            box-shadow: inset 0px 1px 0px #f1f1f1 ;
            .slider__category-link{
                text-decoration: none;
                color: var(--text-color);
                font-weight: 300;
                font-size: 1.5rem;
            }
        }
    }

    .hero-slider{
        height: calc(100% - 20%);

        .swiper-container{
            height: 100%;

            .hero-slider__img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


