.product__detail{
    background-color: #fff;
    padding: 16px;
    border-radius: 2px;
    height: auto;
}

.product__img__container{
    width: 100%;
    padding-right: 60px;

    .product__img__main{
        width: 100%;
        height: 350px;
        margin-bottom: 8px;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .product__img__slide{
        display: flex;
        gap: 4px;

        .product__img-item{
            width: calc(20% - 4px);
            object-fit: contain;
            &:active{
                border: 1px solid var(--primary-color);
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .product__img__container{
        padding-right: 0;
    }
}

.product__info{
    .product__title{
        font-size: 2.2rem;
        font-weight: 600;
    }

    .product__rate{
        margin: 10px 0; 
        display: flex;
        align-items: center;
        
        .product__rate-list{
            display: flex;
            align-items: center;
            list-style: none;
            margin-right: 4px;

            .product__rate-item{
                .product__rate-icon{
                    font-size: 1.3rem;
                    color: rgb(243, 181, 25);
                    padding-right: 3px;
                }
            }
        }

        .product__rate-number{
            text-decoration: none;
            font-size: 1.5rem;
        }
    }

    .product__brand{
        margin: 20px 0;
        
        & span:nth-child(2){
            color: var(--main-color);
        }
    }

    .product__price{
        margin-bottom: 18px;
        color: var(--main-color);
        font-weight: 800;
        font-size: 2.2rem;
        padding-right: 8px;
    }

    .product__quantity{
        margin-bottom: 30px;
        display: flex;
        
        &-title{
            font-size: 1.8rem;
            font-weight: 500;
            margin-right: 10px;
        }

        &-adjust{
            display: flex;
            align-items: center;
            
            .product__quantity-btn{
                border: 2px solid #000;
                width: 40px;
                text-align: center;
                cursor: pointer;
            }

            .product__quantity-number{
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
                width: 40px;
                text-align: center;
                font-weight: 600;
            
            }
        }
    }

    .product__des{
        margin-bottom: 50px;

        &-title{
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 10px;
        }

        &-content{
            font-size: 1.5rem;
            text-align: justify;
            line-height: 1.6;
            font-weight: 300;
        }
    }

    .product__action{
        display: flex;
        width: 80%;

        button{
            border: none;
            outline: none;
            border-radius: 3px;
        }

        .btn-cart, .btn-buy{
            padding: 16px 0;
            border: 1px solid var(--main-color);    
            text-transform: uppercase;
            flex: 1 1 0%;
        }

        .btn-cart{
           background-color: #fff;
           color: var(--main-color);
           
        }

        .btn-buy{
            background-color: var(--main-color  );
            color: #fff;
            margin-right: 8px;

           &:hover{
                filter: brightness(0.9)
           }
        }
    }
    @media screen and (max-width: 769px) {
        .product__action{
            width: 100%;
        }
    }
}

.loading-img{
    width: 100%;
    height: 380px;
    margin-bottom: 4px;
}
.loading-slide{
    width: 100%;
    height: 100px;
}
.loading-name{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.loading-rate, .loading-brand, .loading-price{
    width: 150px;
    height: 30px;
}
.loading-des{
    width: 100%;
    height: 80px;
}