.header{
    background-color: var(--header-background);
    padding: 10px 0;
    position: relative;

    .header__content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        .header__logo{
            width: 25%;
            text-decoration: none;
            text-align: center;
            display: flex;
            align-items: center;

            .header__show{
                display: none;
            }

            .header__brand{
                flex-grow: 1;
                .logo__brand{
                    font-size: 5.4rem;
                    background: -webkit-linear-gradient(#f2df92, #d6b478);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
                    line-height: 1;
                    font-weight: 500;
                }
                .logo__brand-sub{
                    color: #bccdcc;
                    font-size: 1.5rem;
                }
            }
            
        }

        .header__info{
            width: 41.6667%;
            .header__list-link--auth{
                font-size: 1.1rem;
            }
            .header__list-item--cart{
                border: 2px solid var(--subheader-background) ;
                padding: 8px;
                border-radius: 6px;
                &:hover{
                    background-color: var(--subheader-color);
                }
            }
            .header__list{
                color: var(--header-color);
                padding-left: 40px;
                display: flex;
                align-items: center;
                list-style: none;
                .header__list-item{
                    width: 25%;
                    line-height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 1.4rem;
                    i{
                        font-size: 2.2rem;
                        margin-right: 6px;
                    }
                    .header__list-link{
                        display: block;
                        text-decoration: none;
                        color: var(--header-color);
                        &:hover{
                            color: var(--secondary-color);
                            cursor: pointer;
                        }
                    }
                    .header__list-link--hover:hover{
                        color: #fff !important;
                    }
                }
            }
        }
  
        .header__search{
            width: 33.3333%;
            .header__search-form{
                display: flex;
                 .form__input{
                     width: 100%;   
                     background: #f1f1f1;
                     font-size: 1.4rem;
                     padding: 12px 14px;
                     border-bottom-left-radius: 4px;
                     border-top-left-radius: 4px;
                 }
                 .form__btn{
                     width: 64px;
                     background-color: var(--secondary-color);
                     border-top-right-radius: 4px;
                     border-bottom-right-radius: 4px;
                     border-top-left-radius: 0;
                     border-bottom-left-radius: 0;
                     i{
                         font-size: 1.7rem;
                     }
                     &:hover{
                         filter: brightness(1.1);
                     }
                 }
             }
        }      
    }
}

@media only screen and (max-width: 739px){
    .header__show{
        display: block !important;
    }
    .header__content{
        padding: 0 6px;
    }

    .header__search{
        width: 100% !important;
    }

    .header__list-item--hiden{
        display: none !important;
    }

    .header__list{
        padding-left: 0 !important;
        justify-content: flex-end;
    }

    .header__list-link{
        span{
            display: none !important;
        }
    }

    .header__logo{
        width: 55% !important;
        justify-content: space-between;
        order: -1;
        display: inline-flex !important;
    }

    .header__info{
        order: -1;
        width: 45% !important;
    }

    .header__brand{
      flex-grow: 0 !important;
    }
   
}

@media only screen and (min-width: 740px) and (max-width: 1023px){
    .header__show{
        display: block !important;
    }
    .header__content{
        padding: 0 6px;
    }

    .header__search{
        width: 100% !important;
    }

    .header__list-item--hiden{
        display: none !important;
    }

    .header__list{
        padding-left: 0 !important;
        justify-content: flex-end;
    }

    .header__list-link{
        span{
            display: none !important;
        }
    }

    .header__logo{
        width: 55% !important;
        justify-content: space-between;
        order: -1;
        display: inline-flex !important;
    }

    .header__info{
        order: -1;
        width: 45% !important;
    }

    .header__brand{
      flex-grow: 0 !important;
    }
}


.nav-mobile{
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 998;
    display: none;
}

.scroll{
    &::-webkit-scrollbar{
        width: 3px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--primary-color);
        outline: 1px solid var(--primary-color);
    }
}

.nav__list{
    height: calc(100% - 20%);
    border: 1px solid #f1f1f1;
    list-style: none;
    overflow: scroll;

    .menu-item{
        position: relative;
        
        &:hover .submenu{
           //display: block;
        }

        .submenu{
            padding: 14px;
            position: absolute;
            top: -37px;
            bottom: 0px;
            left: calc(100%);
            z-index: 999;
            width: 100%;
            height: 352px;
            background-color: #fff;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
            display: none;
            animation: fadeIn ease-in 0.2s;

            @keyframes fadeIn {
                0%{opacity: 0;}
                50%{opacity: 0.5;}
                100%{opacity: 1;}
            }
           

            .submenu__list{
                list-style: none;

                .submenu__list-item{
                    margin-bottom: 14px;
                    .submenu__list-link{
                        color: #000;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .nav__item{
        padding: 8px 12px;
        box-shadow: inset 0px 1px 0px #f1f1f1 ;

        .nav__item-link{
            text-decoration: none;
            color: var(--text-color);
            font-weight: 300;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            gap: 4px;

            .nav__item-icon{
                max-width: 24px;
            }
        }     
    }
}


@media (max-width: 1023px){
  .overlay-nav{
    display: block !important;
  }

  .nav-mobile{
    display: block;
  }
  
  .header__show{
    //z-index: 1000;
  }
}


.overlay-nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 2;
}



.nav-mobile__login{
    background-color: var(--header-background);
    padding: 10px;
    display: flex;
    align-items: center;
    color: #fff;

    .icon{
        font-size: 2rem;
        margin: 0 10px;
    }

    .account{
       .title{
        font-size: 1.5rem;
       }
       .account__link{
        font-size: 1.2rem;
        font-weight: 300;
        color: #fff;
       }
    }
}

@media (min-width: 1092px) and (max-width: 1348px){
    .header__logo{
        width: 18% !important;
    }
    .header__info{
        width: 48.6667% !important;
    }

  
}

