.product-card{
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #cce7d0;
    padding: 12px;
    position: relative;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    transition: 0.2s ease;
    &:hover{
        box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    }

    margin: 0 6px;
   

    .product-card__link{
        text-decoration: none;
        color: #000;
       

        .product-card__image{
            width: 100%;
            border-radius: 20px;
            height: 220px;
            object-fit: cover;
        }
    
        .product-card__info{
            text-align: center;

            .product-card__brand{
                font-size: 1.2rem;
                padding: 6px 0;
            }

            .product-card__name{
                font-weight: bold;
                font-size: 1.5rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .product-card__rating{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                .product-card__rating-item{
                    list-style: none;

                    .product-card__rating-icon{
                        color: rgb(243, 181, 25);
                        font-size: 1.2rem;
                        padding: 6px 0;
                    }
                }
            }
            
            .product-card__price{

                .product-card__price-sale{
                    color: var(--extra-color);
                    font-weight: bold;
                    font-size: 1.5rem;
                    padding-right: 8px;
                }

                .product-card__price-old{
                    font-size: 1.5rem;
                    color: rgba(0,0,0,0.5);
                    text-decoration: line-through;
                }
            }
        }
    }
    
}