.breadcrumb{
    margin: 16px 0;
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;

    .sub, .breadcrumb-link, span{
        font-size: 1.4rem;
        color: rgb(130, 134, 158);
    }
    
    
    .breadcrumb-link, span{
        text-decoration: none;
        margin-right: 4px;

        &:hover{
            color: #000;
        }
    }

    .icon{
        font-size: 1.7rem;
        margin: 0 1.6px;
    }
}