.product__list{
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.product__category{

}

.product__category__list{
    border-left: 1px solid #f1f1f1;
    margin-right: -1px;
}

.product__cate-list{
    display: flex;
    flex-wrap: wrap;
}
