.home{
    .container{
        .featured-products{
            text-align: center;

            h2{
                font-size: 4rem;
                padding-bottom: 5px;
            }
            
            p{
                padding-bottom: 16px;
            }
        }
    }
}
