.header__admin{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    gap: 14px;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .left{
        margin-left: 50px;
        .title{
            color: #fff;
            font-size: 3rem;
            font-weight: 600;
        }
    }

    .right{
        margin-right: 26px;
        display: flex;
        align-items: center;
        gap: 20px;

        .header__admin__name{
            font-size: 1.5rem;
            color: #fff;
        }

        .header__admin__link{
           color: #fff;
            
        }

        .header__admin__logout{
            color: #fff;
            padding-right: 18px;
            cursor: pointer;
    
            &:hover{
                opacity: 0.5;
            }
        }
    }
}