.header__admin{
    background-color: #eef7fe;
    display: flex;
   justify-content: flex-end;
    gap: 14px;
    height: 60px;
    line-height: 60px;
    // position: fixed;
    // top: 0;
    // right: 0;
    // left: 0;

    .header__right{
        margin-right: 26px;
        display: flex;
        align-items: center;
        gap: 20px;

        .header__admin__name{
            font-size: 1.5rem;
        }

        .header__admin__link{
            color: #000;
        }

        .header__admin__logout{
            background-color: transparent;
            padding-right: 18px;
            cursor: pointer;
            font-size: 1.6rem;
    
            &:hover{
                opacity: 0.5;
            }
        }
    }
}