.header__admin{
    //background-color: var(--extra-color);
    background-image: linear-gradient(#333, #000);
    display: flex;
    justify-content: flex-end;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 20%;

    .header__right{
        margin-right: 26px;
        display: flex;
        align-items: center;
        gap: 20px;

        .header__admin__name,
        .header__admin__link,
        .header__admin__logout {
            color: #fff;
        }

        .header__admin__logout{
            background-color: transparent;
            padding-right: 18px;
            cursor: pointer;
            font-size: 1.6rem;
    
            &:hover{
                opacity: 0.8;
            }
        }
    }
}