.header__container{
  background-color: #fff;
  padding-top: 16px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 1.5rem 1rem 0 rgba(0, 0,0, 0.1);

  .header__main {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    //header logo
    .header__logo {
      width: 25%;
      text-decoration: none;
      text-align: center;
      display: flex;
      align-items: center;

      //Mobile
      .header__show {
        display: none;
      }

      &__title {
        flex-grow: 1;
        font-size: 4rem;
        background: -webkit-linear-gradient(#1435c3, #1435c3d1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    @media screen and (max-width: 1024px) {
      .header__logo {
        width: 65%;
        order: -1;

        .header__show {
          display: block;
          width: 10%;
        }

        .header__logo__title{
          width: 90%;
          text-align: right;
        }
      }
    }

    @media screen and (max-width: 360px) {
      .header__logo__title{
        font-size: 2.5rem;
      }
    }
    //header logo

    //header search
    .header__search {
      width: 33.3333%;

      &__form {
        display: flex;

        .form__input {
          width: 100%;
          background: #f1f1f1;
          font-size: 1.4rem;
          padding: 12px 14px;
          border-bottom-left-radius: 6px;
          border-top-left-radius: 6px;
        }
        
        .form__btn {
          width: 64px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          i {
            font-size: 1.7rem;
          }
        }
      }
    }

    @media screen and (max-width:1024px) {
      .header__search {
        width: 100%;
      }
    }
    //header search
    
    //header info
    .header__info {
      width: 41.6667%;

      .header__list-link--auth {
        font-size: 1.1rem;
      }

      &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        .header__list__item {
          padding: 5px;
          line-height: 2rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 1.4rem;
          border-radius: 5px;

          i {
            font-size: 2rem;
            margin-right: 6px;
            color: #82869e;
          }

          .header__item__link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #82869e;
            padding: 0 16px;

            &:hover,
            &:hover i,
            &:hover .span__color {
              color: #1435c3;
            }

            i {
              color: #82869e;
            }

            

            span {
              font-size: 1.35rem;
            }

            @media screen and (max-width: 1024px) {
              span{
                display: none;
              }
            }

            .span__color {
              display: block;
              color: #82869e;
              text-align: center;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .header__info{
        order: -1;
        width: 35% ;
        .header__info__list{
          display: block;
       }

       .header__list-item--hiden {
        display: none !important;
        }
      }
   }
   //header info
  }
}

//CSS Mobile
.nav-mobile {
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 998;
  display: none;
}

.scroll {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid #ccc;
  }
}

.nav__list {
  height: calc(100% - 20%);
  border: 1px solid #f1f1f1;
  list-style: none;
  overflow: scroll;

  .menu-item {
    position: relative;

    &:hover .submenu {
      //display: block;
    }

    .submenu {
      padding: 14px;
      position: absolute;
      top: -37px;
      bottom: 0px;
      left: calc(100%);
      z-index: 999;
      width: 100%;
      height: 352px;
      background-color: #fff;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      display: none;
      animation: fadeIn ease-in 0.2s;

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }

      .submenu__list {
        list-style: none;

        .submenu__list-item {
          margin-bottom: 14px;
          .submenu__list-link {
            color: #000;
            font-weight: 600;
          }
        }
      }
    }
  }

  .nav__item {
    padding: 8px 12px;
    box-shadow: inset 0px 1px 0px #f1f1f1;

    .nav__item-link {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 300;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 4px;

      .nav__item-icon {
        max-width: 24px;
      }
    }
  }
}


@media (max-width: 1024px) {
  .overlay-nav {
    display: block !important;
  }
  .nav-mobile {
    display: block;
  }
}

.overlay-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
}

.nav-mobile__login {
  background-color: var(--main-color);
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;

  .icon {
    font-size: 2rem;
    margin: 0 10px;
  }

  .account {
    .title {
      font-size: 1.5rem;
    }
    .account__link {
      font-size: 1.2rem;
      font-weight: 300;
      color: #fff;
    }
  }
}

@media (min-width: 1092px) and (max-width: 1348px) {
  .header__logo {
    width: 18% !important;
  }
  .header__info {
    width: 48.6667% !important;
  }
}

//CSS Mobile
