.admin__category{

    .category__title{
        margin-bottom: 12px;
    }

    .list__category{

        .list__category-link{
            text-decoration: none;
            color: #000;
            margin: 0 8px;
        }
    }
}