.section {
    margin-bottom: 70px;
    margin-top: 70px;

    &>*~* {
        //margin-top: 70px;
    }

    &__title {
        font-size: 3.2rem;
        text-transform: capitalize;
        //text-align: center;
        font-weight: 500;
    }
}