.section {
    margin-bottom: 40px;
    margin-top: 40px;

    &>*~* {
        //margin-top: 70px;
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}