.footer{
    background-color: #fff;
    border-top: 3px solid #1435c3;

     .footer__main{
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         padding: 20px 0 40px;
 
         //General
         .title{
             margin-bottom: 10px;
             font-weight: 600;
             color: #000;;
         }
 
         .list__group{
             .group__item{
                 list-style: none;
             }
             .item__link{
                color: #333;
                 font-size: 1.3rem;
                 line-height: 1.75;

                 &:hover{
                     color: #1435c3; 
                 }
             }
         }
 
         .footer__info{
             flex-basis: 30%;

             .brand{
                margin-bottom: 10px;
                font-size: 4rem;
                background: -webkit-linear-gradient(#1435c3, #1435c3d1);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
                font-weight: 500;
             }

             .desc{
                 font-size: 1.3rem;
                 font-weight: 300;
             }
           
             p{
                 font-size: 1.3rem;
                 font-weight: 300;
                 margin: 10px 0;
                 
                 span{
                     font-weight: 600;
                 }
             }
         }
 
 
 
         .footer__policy{
 
         }
         .footer__guide{
 
         }
         .footer__contact{
             .image__method-payments{
                 max-width: 250px;
             }
 
             .contact__item{
                 margin-bottom: 8px;
                 list-style: none;
              }
         }
     }
 }
 
 
 
 @media (max-width: 730px){
     .footer__main{
         flex-direction: column;
     }
 }
 @media (min-width: 740px) and (max-width:1023px){
    
     .footer__contact,
     .footer__guide,
     .footer__info,
     .footer__policy{
         margin-top: 20px;
     }
     .footer__info{
      flex-basis: 50% !important; 
     }
 
     .footer__policy{
         flex-basis: 50%;
     }
 
     .footer__contact{
         flex-basis: 50%;
     }
 
     .footer__guide{
         flex-basis: 50%;
     }
    
  }
 
 