.letter{
    background-image: url('../../../assets/img/banner/b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;

    &__main{
        height: 168px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        &__title{

            &-register{
                font-size: 2.4rem;
                color: #fff;
                font-weight: 700;
                margin-bottom: 12px;
                text-transform: capitalize;
            }
        
            &-des{
                font-size: 1.8rem;
                font-weight: 600;
                color: #818ea0;
    
            span{
                    color: #ffbd27;
                }
            }
        }
    
        &__form{
            display: flex;
            width: 30%;
            align-items: center;
            --height: 60px;
            --font-size: 1.5rem;
    
            &-input{
                height: var(--height);
                padding-left: 18px;
                font-size: var(--font-size);
                width: 100%;
                border: 1px solid transparent;
                border-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                outline: none;
            }

            &-btn{
                height: var(--height);
                font-size: var(--font-size);
                font-weight: 600;
                cursor: pointer;
                padding: 0 24px;
                white-space: nowrap;
                background-color: #088175;
                color: #fff;
                border-radius: 4px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border: 1px solid transparent;

                &:hover{
                    opacity: 0.9;
                }
            }
        }
    }

   

   
}