.letter{
    background-color: var(--text-color);

    &__main{
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .letter__media{
            .facebook{
                margin-right: 18px;
            }
            .letter__image{
                width: 34px;
            }
        }

        .letter__info{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .letter__title{
                display: flex;
                margin: 0 14px;

                .letter__des{
                    color: #fff;
                    font-weight: 300;
                }

                .letter__image{
                    width: 40px;
                    margin-right: 8px;
                }
            }

            .letter__form{
                display: flex;
                width: 36%;
                align-items: center;
                --height: 40px;
                --font-size: 1.5rem;
        
                .letter__form-input{
                    height: var(--height);
                    padding-left: 18px;
                    font-size: var(--font-size);
                    width: 100%;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    outline: none;
                }
    
                .letter__form-btn{
                    height: var(--height);
                    font-size: var(--font-size);
                    font-weight: 300;
                    cursor: pointer;
                    padding: 0 24px;
                    white-space: nowrap;
                    background-color: var(--secondary-color);
                    color: var(--text-color);
                    border-radius: 4px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border: 1px solid transparent;
    
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
        }
    
        
    }

   

   
}