.sidebar{
    background-color: #fff;
    position: fixed;
    left: 0;    
    top: 0;
    bottom: 0;
    right: 82%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px;

    &__logo{
        font-size: 2.7rem;
        font-weight: 600;
    }

    &__list{
        padding-left: 0 !important;
        margin-bottom: 0 !important;
       
        .active{
            padding: 10px;
            text-decoration: none;
            font-size: 1.5rem;
            background-color: #0d6efd;
            border-radius: 4px;
            width: 100%;
            display: inline-block;
            color: #fff;
            &:hover{
                color: #fff;
            }
        }

        &-item{
            list-style: none;
    
            .sidebar__list-link{
                padding: 10px;
                text-decoration: none;
                font-size: 1.5rem;
                background-color: transparent;
                border-radius: 4px;
                width: 100%;
                display: inline-block;
              
            }
        }

    }
}