.sidebar{
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;    
    top: 0;
    bottom: 0;
    right: 80%;

    &__logo{
        font-size: 2.7rem;
        font-weight: 600;
        margin: 10px 0;
        color: #000;
        text-align: center;
    }

    &__list{
        
        &-item{
            //list-style: none;
            margin-bottom: 4px;

            & .active{
                background-color: var(--extra-color);
                width: 100%;
                display: inline-block;
                color: #fff;
                font-weight: 600;   
                padding: 10px 10px 10px 20px; 
            }

            .sidebar__list-link{
                padding: 10px 10px 10px 20px;
                font-size: 1.5rem;
                display: inline-block;
                color: #000;
                font-weight: 500;                
            }
        }

    }
}