.page-404{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    .page-404__title{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 400;
    }

    .page-404__home{
        font-size: 1.4rem;
        font-weight: 300;
        margin: 10px 0;
        text-align: center;
        line-height: 1.6;
        word-spacing: 0.195rem;
        color: #727272;;
    }

    .page-404__btn{
        padding: 10px 24px;
        background-color: var(--main-color);
        font-weight: 500;
        color: #fff;
        margin-bottom: 60px;

        &:hover{
            opacity: 0.8;
        }
    }

    .page-404__img{
        max-width: 350px;
        background-color: #fff;
        margin-bottom: 22px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 769px) {
    .page-404{
        width: 85%;
        margin: 0 auto;

        .page-404__img{
            max-width: 220px;
        }

        .page-404__title{
            font-size: 2rem;
            text-align: center;
        }

        .page-404__home{
            font-size: 1.3rem;
        }
    }
}